@model IEnumerable<VeridiaApp.Models.NpcViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Str)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Con)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Int)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Str)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Con)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Int)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
